:root {
  --font-base: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  --font-heading: 'Roboto Serif', 'Helvetica', 'Arial', sans-serif;
}

body {
  font-family: var(--font-base);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}